body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #04d3d323;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.600);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;                /* Menos separación */
    padding: 20px;
    justify-items: center;
    align-items: start;
    border-radius: 5px;
}

.card {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 0 8px #00000030;
}

.card input {
    width: 100%;
    padding: 5px;
}

.card label {
    width: 100%;
    text-align: left;
}
