body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #04d3d323;
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: xx-large;
}

button {
    background-color: #4CAF50;
    color: rgb(255,255, 255);
    padding: 10px 30px;
  
    border-radius: 5px;
    cursor: pointer;
}

label {
    font-weight: bold;
    /*display: block; */
    margin-top: 10px;  
    border: none;
    border-radius: 5px;
}