/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #04d3d323;
}

/* Contenedor principal */
.contenedor-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;               /* 🔹 Permite que los div bajen de fila */
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

/* Título */
.hs1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 8px #00000030;
}

/* Contenedor de cada formulario */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 8px #00000030;

    width: 42%;                    /* 🔹 Para que existan 2 por fila */
    min-width: 350px;
}

/* Caja de cada fila */
.caja {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #0077ff8a;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

/* Inputs */
.card input {
    flex: 1;
    width: auto;
}

/* Labels */
.card label {
    flex-basis: 150px;
}

/* Botón */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

/* Input general */
input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

/* Textarea */
textarea {
    flex: 1;
    width: auto;
    height: auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

/* Caja de encabezado */

.cajaEncabezado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #ffffffa8;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 0 0 8px #0077ff5b;
}

.cajaEncabezado label {
    flex-basis: 150px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
   
}